<mat-toolbar>
  <mat-toolbar color="secondary" style="border-radius: 15px;">
    <mat-toolbar-row>
        <mat-icon style="margin-right: 10px;">home</mat-icon>
        <h1>Manejo e Implementación de Archivos</h1>
        <span class="example-spacer"></span>
        <mat-icon style="color: red;" (click)="Logout()">logout</mat-icon>
    </mat-toolbar-row>

</mat-toolbar>

</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Administración de Carpetas y Archivos">
        <app-admin-carpetas-archivos></app-admin-carpetas-archivos>
    </mat-tab>
    <mat-tab label="Dar de alta">
        <app-darde-alta></app-darde-alta>
    </mat-tab>
    <mat-tab label="Habilitar">
        <app-habilitar></app-habilitar>
    </mat-tab>
</mat-tab-group>