<div class="row">
    <div class="column">
      <div class="card" style="align-items: center; background-color: #1f104f;">
        <img src="../../../assets/carpeta.png" alt="Jane" style="padding: 15px;">
        <div class="container">
          <h2 style="color: aliceblue; text-align: center;">Administrar Carpetas y Archivos.</h2>
          <div style="align-items: center; padding-left: 250px; padding-bottom: 20px;"><button class="btn btn-success">Ingresar</button></div>   
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card" style="align-items: center; background-color: #1f104f;">
          <img src="../../../assets/si.png" alt="Jane" style="padding: 15px;">
          <div class="container">
            <h2 style="color: aliceblue; text-align: center;">Cuentas por habilitar.</h2>
            <div style="align-items: center; padding-left: 250px; padding-bottom: 20px;"><button class="btn btn-success">Ingresar</button></div>   
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="align-items: center; background-color: #1f104f;">
          <img src="../../../assets/kyc.png" alt="Jane" style="padding: 15px;">
          <div class="container">
            <h2 style="color: aliceblue; text-align: center;">Dar de alta.</h2>
            <div style="align-items: center; padding-left: 250px; padding-bottom: 20px;"><button class="btn btn-success">Ingresar</button></div>   
          </div>
        </div>
      </div>
  </div>