<div *ngIf="mostrarMensaje" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Bienvenido a la pagina!!
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="mostrarMensajeError" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error al ingresar, intente de nuevo.
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="rounded card shadow-lg o-hidden border-0 my-5" style="background-color: #191919;">
        <div class="card-body p-0">
            <div class="row" style="margin: 30px;">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="col-sm-6" style="padding-top: 70px; padding-left: 100px;">
                        <img src="../../../assets/perfil-del-usuario.png" >
                    </div>
                    
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 style="color: aliceblue; padding: 1cm;">LOGIN</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <h2 style="color: aliceblue;">Correo</h2>
                                </div>
                                <div class="col-sm-6">
                                    <input [formControl]="correo" class="form-control form-control-user" type="email" id="correo"
                                        placeholder="CORREO" name="correo" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <h2 style="color: aliceblue;">Contraseña</h2>
                                </div>
                                <div class="col-sm-6">
                                    <input [formControl]="contrasenia" class="form-control form-control-user" type="password" id="contrasenia"
                                        placeholder="CONTRASEÑA" name="contrasenia" required>
                                </div>
                            </div><br>

                            <div class="row justify-content-center">
                                <div class="col-sm-2">
                                    <button (click)="login()" class="btn btn-outline-primary" type="submit">Ingresar</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <a href="/OlvideMiContrasenia" style="color: aliceblue;">Olvide mi Contraseña</a><br>
                                    <a href="/CrearUsuario" style="color: aliceblue;">Crear cuenta</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
