<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <a style="color: red;">Logout<mat-icon style="color: red;" (click)="Logout()">logout</mat-icon></a>
  </div>


  <p>
    <mat-toolbar style="background-color: #333333; border-radius: 10px;">
        <mat-icon onclick="openNav()" style="color: aliceblue;">menu</mat-icon>

        <span style="color: aliceblue;">FuBox</span>
        <span class="example-spacer"></span>
        


    </mat-toolbar>
</p>
  
