<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="col-sm-12" style="text-align: center;"><img src="../../../assets/user.png"><br><br>
    <a href="#">{{nombre}}</a>
  </div><br>
  <a [routerLink]="['/inicio/ActualizarCuenta']">Cuenta</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  <a style="color: red;">Logout<mat-icon style="color: red;" (click)="Logout()">logout</mat-icon></a>
</div>


<p>
  <mat-toolbar style="background-color: #333333; border-radius: 10px;">
    <mat-icon onclick="openNav()" style="color: aliceblue;">menu</mat-icon>

    <span style="color: aliceblue;">FuBox</span>
    <span class="example-spacer"></span>



  </mat-toolbar>
</p>
<div class="col-sm-3" style="float: left;">
  <div class="rounded card shadow-lg o-hidden border-0 my-5" style="padding: 10px; background-color: #333333;">
    <mat-form-field class="example-full-width" appearance="fill" style="color: aliceblue;">
      <mat-label style="color: aliceblue;">Ingrese el nombre del archivo/carpeta</mat-label>
      <input matInput style="color: aliceblue;" placeholder="Ex. Carpeta 1" required [formControl]="nombreArch">
    </mat-form-field >
  </div>

  <div class="rounded card shadow-lg o-hidden border-0 my-5" style="padding: 10px; background-color: #333333;">
    <h2 style="color: aliceblue;">Mis Carpetas</h2>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="background-color: #333333;">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="color: aliceblue;">
        <!-- use a disabled button to provide padding for tree leaf -->
        <div class="col-sm-6">{{node.name}}</div>
        <div class="col-sm-6" style="text-align: right;">
          <a class="pointer" style="color: Blue;" matTooltip="Modificar Carpeta/Archivo" (click) = "pdf(node.typee, node.name)">
            <mat-icon>picture_as_pdf</mat-icon>
          </a>
          <a class="pointer" style="color: Blue;" matTooltip="Modificar Carpeta/Archivo" (click) = "Modificar(node.typee, node.name)">
            <mat-icon>update</mat-icon>
          </a>
          <a class="pointer" style="color: red;" matTooltip="Eliminar Carpeta/Archivo" (click)="EliminarCarpeta(node.name)">
            <mat-icon>delete</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Carpeta" (click)="AgregarCarpeta(node.name)">
            <mat-icon>add_box</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Archivo" (click)="AgregarArchivo(node.name)">
            <mat-icon>post_add</mat-icon>
          </a>
        </div>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="color: aliceblue;">
        <div class="col-sm-6">
          <mat-icon class="mat-icon-rtl-mirror" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

          {{node.name}}
        </div>
        <div class="col-sm-6" style="text-align: right;">
          <a class="pointer" style="color: Blue;" matTooltip="Modificar Carpeta/Archivo" (click) = "Modificar(node.typee, node.name)">
            <mat-icon>update</mat-icon>
          </a>
          <a class="pointer" style="color: red;" matTooltip="Eliminar Carpeta/Archivo" (click)="EliminarCarpeta(node.name)">
            <mat-icon>delete</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Carpeta" (click)="AgregarCarpeta(node.name)">
            <mat-icon>add_box</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Archivo" (click)="AgregarArchivo(node.name)">
            <mat-icon>post_add</mat-icon>
          </a>
        </div>



      </mat-tree-node>
    </mat-tree>
  </div>
  <div class="rounded card shadow-lg o-hidden border-0 my-5" style="padding: 10px; background-color: #333333;">
    <h2 style="color: aliceblue;">Compartidas conmigo</h2>
    <mat-tree [dataSource]="dataSourceCol" [treeControl]="treeControl" style="background-color: #333333;">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="color: aliceblue;">
        <!-- use a disabled button to provide padding for tree leaf -->
        <div class="col-sm-6">{{node.name}}</div>
        <div class="col-sm-6" style="text-align: right;">
          <a class="pointer" style="color: Blue;" matTooltip="Modificar Carpeta/Archivo" (click) = "Modificar(node.typee, node.name)">
            <mat-icon>update</mat-icon>
          </a>
          <a class="pointer" style="color: red;" matTooltip="Eliminar Carpeta/Archivo" (click)="EliminarCarpeta(node.name)">
            <mat-icon>delete</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Carpeta" (click)="AgregarCarpeta(node.name)">
            <mat-icon>add_box</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Archivo" (click)="AgregarArchivo(node.name)">
            <mat-icon>post_add</mat-icon>
          </a>
        </div>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="color: aliceblue;">
        <div class="col-sm-6">
          <mat-icon class="mat-icon-rtl-mirror" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

          {{node.name}}
        </div>
        <div class="col-sm-6" style="text-align: right;">
          <a class="pointer" style="color: Blue;" matTooltip="Modificar Carpeta/Archivo" (click) = "Modificar(node.typee, node.name)">
            <mat-icon>update</mat-icon>
          </a>
          <a class="pointer" style="color: red;" matTooltip="Eliminar Carpeta/Archivo" (click)="EliminarCarpeta(node.name)">
            <mat-icon>delete</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Carpeta" (click)="AgregarCarpeta(node.name)">
            <mat-icon>add_box</mat-icon>
          </a>
          <a class="pointer" style="color: green;" matTooltip="Crear Archivo" (click)="AgregarArchivo(node.name)">
            <mat-icon>post_add</mat-icon>
          </a>
        </div>



      </mat-tree-node>
    </mat-tree>
  </div>
</div>
<div class="col-sm-9" style="float: left; padding-left: 10px;">
  <div class="rounded card shadow-lg o-hidden border-0 my-5" style="padding: 10px;">
    <!--<form>
      <mat-form-field class="col-sm-12" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input type="text" matInput placeholder="Ej.Carpeta 1">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>-->
    <router-outlet></router-outlet>
  </div>
</div>