<div *ngIf="mostrarMensaje" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Usuario creado correctamente, espere a que el administrador lo de de alta para poder acceder.
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="mostrarMensajeError" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error al ingresar datos, intente de nuevo.
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="rounded card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row" style="margin: 30px;">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <img src="../../../assets/nuevo.png">
                            <h1 style="padding: 1cm;"><b>Crear Usuario</b></h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su nombre</mat-label>
                                    <input matInput [formControl]="Nombre" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su Apellido</mat-label>
                                    <input matInput [formControl]="Apellido" required>
                                </mat-form-field>
                            </div> <br>
                            <div class="form-group row">
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su usuario</mat-label>
                                    <input matInput [formControl]="Usuario" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su correo</mat-label>
                                    <input matInput placeholder="pat@example.com" [formControl]="Correo" required>
                                    <mat-error *ngIf="Correo.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div> <br>
                            <div class="form-group row">
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su numero</mat-label>
                                    <input matInput [formControl]="Telefono" type="tel" required>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su fecha de nacimineto</mat-label>
                                    <input matInput [formControl]="FechaNac" type="date" required>
                                </mat-form-field>
                            </div> <br>
                            <div class="form-group row">
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Ingrese su contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="contrasenia"
                                        required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-sm-6">
                                    <mat-label>Confirmación de constraseña</mat-label>
                                    <input matInput [type]="hide2 ? 'password' : 'text'"
                                        [formControl]="confirmContrasenia" required>
                                    <button mat-icon-button matSuffix (click)="hide2 = !hide2"
                                        [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">
                                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div><br>

                            <div class="row justify-content-center">
                                <div class="col-sm-1">
                                    <button (click)="crearUsuario()" class="btn btn-outline-dark"
                                        type="submit">Registrarse</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <a href="/" style="color: black;">¿Ya tienes una cuenta?</a><br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>